header{
    height: 6rem
}

.pealkiri{
color: rgb(0, 0, 0);
font-size: 26px
}

.kirjeldus{
    color: rgb(116, 116, 116);
    font-size: 12px
}


.pealkirifont{
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
  }


.kirjeldusfont{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}


.horsepower{
    color: rgb(0, 0, 0);
    letter-spacing: 2px;
}


.logo-image{
margin-left: -2.3rem;
}


.banner-card{
  background-image: url(pildid/Audi_RS6_Avant_Web_Mobile_700x700-a62d94d6.jpeg);
  height: 50vh;
  background-size: cover;
  background-position: 0% 45%;
}


.banner-text{
 color: #fff;
 padding: 10px;
 padding-left: 30px;
}


.banner-text h1{
font-size: 70px;
font-family: mako;
}


.banner-text p{
  margin-top: -2rem;
  font-size: 25px;
  font-family: gilda display;
}


.build-price-button {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  border: none;
  padding: 15px 30px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}


.build-price-button:hover {
  background-color: #c0c0c0;
}


.build-price-button:active {
  background-color: #929292;
}


nav {
  background-color: rgb(193, 193, 193);
  overflow: hidden;
}


nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}


nav ul li {
  display: inline;
}


nav ul li a {
  display: inline-block;
  color: rgb(0, 0, 0);
  text-decoration: none;
  padding: 14px 20px;
  font-size: 30px;
  font-family: fira sans;
}


main {
  padding: 20px;
}


section {
  margin-bottom: 20px;
  background-color: rgb(193, 193, 193);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


h2 {
  color: #000000;
  font-size: 45px;
  font-family: "Fira Sans"
}


footer {
  background-color: #000;
  color: white;
  text-align: center;
  padding: 10px 0;
  position: relative;
  bottom: 0;
  width: 100%;
}


.performance-pilt {
  width: 600px;
}


.design-pilt {
  width: 500px;
}


.features-pilt {
  width: 600px;
}
