body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 1rem;
    box-sizing: border-box;
}

main {
    background-color: rgb(13, 214, 204);
    max-width: 56rem;
    width: 100%;
    padding: 1rem;
}


.card-row {
    background-color: blue;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.card {
    flex: 1;
    min-width: 18rem;
    padding: 1rem;
    box-sizing: border-box;
    background-color: aqua;
}
 

.hero-container {
    justify-content: center;
}

.hero-content {
    /* margin: 0 auto; */
    width: 75ch;
}

.angkor-regular {
    font-family: "Angkor", serif;
    font-weight: 400;
    font-style: normal;
  }

.caveat-uniquifier {
  font-family: "Caveat", cursive;
  font-weight: 400;
  font-style: normal;
}
  